{% extends "base.html" %}
{% block panel_heading %}
Add New Keyvault
{% endblock %}
{% block panel_body%}
<form action="{{ url_for('keyvaults.azure_keyvault_add') }}" method="post">
    <div class="form-group">
        <label for="environment">Environment</label>
        <select class="form-control" name="environment" id="environment">
            {% for env in envs %}
                <option value="{{ env.env_id }}">{{ env.env_display_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="tenant_id">Tenant ID</label>
        <select class="form-control" name="tenant_id" id="tenant_id">
            {% if tenants %}
            {% for tenant in tenants %}
                <option value="{{ tenant.tenant_id }}">{{ tenant.tenant_id }}</option>
            {% endfor %}
            {% else %}
                <option value="no_tenant_id">You don't have any tenant ID in this environment, please add one.</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <label for="keyvault_name">KeyVault Name</label>
        <input type="text" class="form-control" id="keyvault_name" name="keyvault_name" placeholder="KeyVaults Name">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/tenantids.js') }}"></script>
{% endblock %}