{% extends "base.html" %}
{% block panel_heading %}
Keyvaults Secret Management
{% endblock %}
{% block panel_body %}
<p class="text-right">
    <a href="#" class="btn btn-primary" role="button">Refresh</a>
</p>
{% endblock %}
{% block panel_table %}
<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>#</th>
            <th>Keyvault Name</th>
            <th>Secret Name</th>
            <th>Created Time</th>
            <th>Updated Time</th>
            <th>Expires On</th>
        </tr>
    </thead>
    <tbody>
        {% if secrets %}
            {% for secret in secrets %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ secret.keyvault.keyvault_name }}</td>
                <td>{{ secret.secret_name }}</td>
                <td>{{ secret.created_on }}</td>
                <td>{{ secret.updated_on }}</td>

                {% if secret.expires_on %}
                    <td>{{ secret.expires_on }}</td>
                {% else %}
                    <td>Never expires</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">You don't have any secret discovered, add a Keyvault first.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}