{% extends "base.html" %}
{% block panel_heading %}
Subscription Management
{% endblock %}
{% block panel_body %}
<p class="text-right">
    <a href="{{ url_for('subscription.azure_subscription_add') }}" class="btn btn-primary" role="button">Add New</a>
</p>
{% endblock %}
{% block panel_table %}
<table class="table table-hover">
    <tr>
        <td>Subscription ID</td>
        <td>Subscription Name</td>
        <td>Environment</td>
        <td>Preferred Location</td>
        <td>Tenant ID</td>
        <td>Appliation ID</td>
    </tr>
    {% if subs %}
    {% for sub in subs %}
    <tr>
        <td>{{ sub.subscription_id }}</td>
        <td>{{ sub.subscription_name }}</td>
        <td>{{ sub.environment.env_name }}</td>
        <td>{{ sub.location.loc_display_name }}</td>
        <td>{{ sub.tenant_id }}</td>
        <td>{{ sub.application_id }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="6">You don't have any subscription registered.</td>
    </tr>
    {% endif %}
</table>
{% endblock %}