{% extends "base.html" %}
{% block panel_heading %}
Generate Random Password
{% endblock %}
{% block panel_body%}
<form action="{{ url_for('common.common_generate_password') }}" method="post">
    <div class="form-group">
        <label for="password_length">Password Length</label>
        <input type="number" class="form-control" id="password_length" name="password_length"
               placeholder="Password Length" value="16">
    </div>
    <div class="form-group">
        <label for="random_password">Random Password</label>
        <input type="text" class="form-control" id="random_password" name="random_password"
               readonly {% if password %} value="{{ password }}" {% endif %} aria-describedby="copy_addon">
    </div>

    <button type="submit" class="btn btn-primary" id="generate">Generate</button>
    <button type="button" class="btn btn-primary" id="copy">Copy</button>
</form>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/password.js') }}"></script>
{% endblock %}