<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome to Flask!{% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index.index') }}">Cloud Toolset</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Azure <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('keyvaults.azure_get_secret') }}">KeyVault Secret Search</a></li>
                        <li><a href="{{ url_for('keyvaults.azure_get_all_secrets') }}">KeyVault Secret Management</a>
                        </li>
                        <li><a href="{{ url_for('keyvaults.azure_get_all_keyvaults') }}">Keyvault Management</a></li>
                        <li><a href="#">Service Principal Management</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Resource Deployment</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('subscription.azure_subscription') }}">Subscription Management</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">AWS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Ali Cloud <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Common Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('common.common_generate_password') }}">Generate Password</a></li>
                        <li><a href="{{ url_for('common.common_get_my_ip') }}">My IP Address</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome, {{ g.user.email }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">User profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.auth_logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.auth_login') }}">Sign in</a></li>
                <li><a href="{{ url_for('auth.auth_register') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            {% if category == "successful" %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif category == "failed" %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5>{% block panel_heading %}{% endblock %}</h5>
            </div>
            <div class="panel-body">
                {% block panel_body %}
                {% endblock %}
                {% block panel_table %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
<footer class="text-center">
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro1.gif') }}"
         title="to~to~ro~">
    <small>&copy; 2021</small>
</footer>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
{% block js %}{% endblock %}
</body>
</html>