{% extends "common/base.html" %}
{% block panel_heading %}
Login
{% endblock %}
{% block panel_body%}
{% if msg %}
<p>{{ msg }}</p>
{% endif %}
<form action="{{ url_for('auth.auth_login') }}", method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}